<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
        
        <!-- Fonts -->
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
        
        <!-- Styles -->
        
        <link rel="stylesheet" href="<?php echo $app->asset('css/jquery.mCustomScrollbar.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/main.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/admin.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/bootstrap.css') ?>" />
    </head>
    <body>
        <div id="customer-chat-widget" class="customer-chat customer-chat-login customer-chat-widget login-form">
            <div class="customer-chat-header">
                <div class="customer-chat-header-title">Login</div>
            </div>
            
            <div id="customer-chat-content-login-form" class="customer-chat-content">
                <div class="customer-chat-content-info">
                    <?php if($vars['errors']) { ?>
                    <div class="customer-chat-login-errors">
                        Wrong e-mail address or password
                    </div>
                    <?php } else { ?>
                    Please login using the following form
                    <?php } ?>
                </div>
                
                <form action="" method="post">
                    <div class="customer-chat-content-message-input">
                        <input id="name" type="text" name="name" value="<?php echo $vars['name'] ?>" class="customer-chat-content-message-input-field" placeholder="Your e-mail" />
                    </div>
                    <div class="customer-chat-content-message-input">
                        <input type="password" name="password" class="customer-chat-content-message-input-field" placeholder="Your password" />
                    </div>
                    <div class="customer-chat-content-row">
                        <button type="submit" id="customer-chat-login-start" class="customer-chat-content-button">Login <i class="icon-circle-arrow-right icon-white" style="margin: 3px 0 0 3px;"></i></button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Scripts -->
        
        <script type="text/javascript" src="<?php echo $app->asset('js/lib/jquery.min.js') ?>"></script>
        
        <script type="text/javascript">
            jQuery(function($)
            {
                // Activate the first input
                
                $('#name').focus();
            });
        </script>
        <!--[if lte IE 9]>
        <script type="text/javascript" src="<?php echo $app->asset('js/lib/placeholders.jquery.min.js') ?>"></script>
        <![endif]-->
    </body>
</html>
